<h1>Editing resolver</h1>

<% form_for(@resolver) do |f| %>
  <%= f.error_messages %>

  <label></label>
    <%= f.submit 'Update' %>
<% end %>

<%= link_to 'Show', @resolver %> |
<%= link_to 'Back', resolvers_path %>